@media only screen and (min-width : 1024px)
  .header__menu
    width: 60%;
.header__title
  margin-top: 20%;
  margin-bottom: 0;
  font-size: 90px;
.dashed-line
  margin: 7% 0;
.header__small-title
  font-size: 24px;
  width: 550px;
  line-height: 26px;
  margin: 0 0 7% 0 ;
.section__wrapper
  box-sizing: border-box;
  padding: 7% 0;
.article--1
  width: 50%;
  flex-direction: column;
.article__images
  width: 50%;
